# --- For-Bot-Working --------- #
pyrogram
TgCrypto
pyromod==1.5
# --- For-Database ------------ #
pymongo
dnspython
# --- For-Web-Response ------- #
aiohttp
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
